.img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.img-container img{
  transform: translateY(-10%)
}

.image-title {
  position: absolute;
  bottom: 0; /* Menempel di bawah gambar */
  left: 0;
  right:0;
  background-color: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
  color: white; /* Warna teks putih */
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.image-year {
  position: absolute;
  top: 0; /* Menempel di bawah gambar */
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
  color: white; /* Warna teks putih */
  padding: 10px;
  text-align: left;
  font-size: 0.8rem;
}

/* Tampilkan tombol saat gambar di-hover */
.img-container:hover .watch-btn {
  opacity: 1;
}

.img-container:hover .details-btn {
  opacity: 1!important;
}

.img-container:hover .image-title {
  bottom:30%;
  font-size: 1.5rem;
}

.img-container:hover .img-container {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.2); /* Gambar membesar saat di-hover */
}

.img-container:hover img {
  transform: scale(1.2); /* Gambar membesar saat di-hover */
  transform: translateY(-55%)
}

.pagination .page-link {
  background: #dc3545;
  color: white;
  border: 0px;
}

.page-item.active .page-link{
  background: white!important;
  color:black!important;
  border:0px!important;
}

.page-item.disabled .page-link{
  background: white!important;
  color:black!important;
  border:0px!important;
}

body{
  min-height: 85vh;
}
